# vim, emacs, ctags
.*.sw[nop]
*~
tags

# SML/NJ CM folder
.cm

# Makefile staging folder
.symbol-work

# MLton def-use and use-def files
*.du
*.ud

# some generated folders that I use for testing a lot
bin
lib
share
foo
