# Do not choose a language; we provide our own build tools.
language: generic

# TODO(jez) Try to cache some things for faster builds
# cache:

# TODO(jez) Test on both macOS and Ubuntu
# matrix:

os: osx

install:
  - brew bundle

script:
  - make lint
  - make test
